body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url('./images/cool-background.jpeg');
  background-position: center;
}

.root {

  display: flex;
  justify-content: center;
  align-items: center;
}